<div class="footer">
  <ul>
    <li><%= link_to("List of Shipwrecks", shipwrecks_path) %></li>
    <li><%= link_to("Add a new Ship", new_shipwreck_path) %></li>
    <li><%= link_to("Map of Shipwrecks", maps_path) %></li>
  </ul>
</div>
